
.container {
    width: 90%;
    height: 700px;
    border: 2px solid #000;
    position: relative;
    background: #fff;
}
.component {
    position: absolute;
    border: 2px #333;
    text-align: center;
    font-weight: bold;
    background: #e6e6e6;
}
.cpu {
    top: 250px;
    left: 25%;
    width: 400px;
    height: 300px;
    
}
.ram {
    top: 80px;
    left: 30%;
    width: 400px;
    height: 150px;
    
}
.rom {
    top: 50px;
    left: 85%;
    width: 200px;
    height: 450px;
    
}
.cmos {
    top: 400px;
    left: 5%;
    width: 250px;
    height: 250px;
    border-radius: 70%;
    
}
.psu {
    top: 10px;
    left: 10px;
    width: 300px;
    height: 150px;
    
}
.hdd {
    top: 10px;
    left: 60%;
    width: 390px;
    height: 320px;
    
}
.component-link {
    display: inline-block;
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    margin: 10px;
    cursor: pointer;
}
.pop-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #333;
}
.pop-up:target {
    display: block;
}
.popup-content {
    position: relative;
    background-color: #fff;
    width: 10 0%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
img {
    position: relative;
    align-items: center;
}
.body {
    margin: 0;
    background-color: #000080;
    color: #ffff00;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}
.section {
    margin-bottom: 25px;
}
.label {
    display: block;
    margin: 5px;
    font-weight: bold;
}
.dropdown {
    border: 1px solid #ffff00;
    padding: 50%;
    background-color: #001144;
    width: 50%;
    color: #ffff00;
    display: flex;
    height: 60PX;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #444;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ffff00;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: #ffff00;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #002288;
}
input:checked + .slider:before {
    transform: translateX(24px);
}
.slider.round {
    border-radius: 24px;
}
.slider.round:before {
    border-radius: 50%;
}
.bottom-message {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    border-top: 1px dashed #ffff00;
    padding: 10px;
}
.clock {
    margin-top: 5px;
}

.popup p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #ffff00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
