body {
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
    width: auto;
}
.container {
    width: 80%;
    height: 400px;
    border: 2px solid #000;
    position: relative;
    background: #fff;
}
.component {
    position: absolute;
    border: 2px #333;
    text-align: center;
    font-weight: bold;
    background: #e6e6e6;
}
.cpu {
    top: 150px;
    left: 90px;
    width: 120px;
    height: 80px;
}
.ram {
    bottom: 100px;
    left: 20px;
    width: 60px;
    height: 100px;
}
.rom {
    top: 50px;
    left: 120px;
    width: 100px;
    height: 40px;
}
.cmos {
    top: 250px;
    left: 170px;
    width: 90px;
    height: 60px;
}
.psu {
    top: 10px;
    left: 10px;
    width: 70px;
    height: 20px;
}
.hdd {
    top: 70px;
    left: 70px;
    width: 40px;
    height: 60px;
}
